# Ignore everything
/*
!.gitignore

# But not these...
!.gitsubmodules
!ags
!bat
!fish
!foot
!helix
!hypr
!kitty
!mpv
!niri
!nvim
!polychromatic
!swaylock
!xremap
!zellij
!zsh
!starfish.toml
!*-flags.conf
!theme.css

# Except if
hypr/plugins/*
zsh/antidote/*
zsh/functions/*
