# Ignore everything
/*
!.gitignore

# But not these...
!.gitsubmodules
!ags
!bat
!broot
!fish
!foot
!helix
!hypr
!kitty
!mpv
!mprocs
!niri
!nvim
!polychromatic
!swaylock
!xremap
!yazi
!zellij
!zsh
!starfish.toml
!*-flags.conf
!theme.css

!wezterm

# Except if
hypr/plugins/*
zsh/antidote/*
zsh/functions/*
helix/runtime/grammars/sources
broot/launcher/installed-v4
mpv/fonts
mpv/scripts/uosc
mpv/scripts-opts
broot/launcher/bash/br
