/* 
             |------------------------------------------------------------------------------------|
              | window {BOX:vertical}                                                              |
              | |-------------------------------------------------------------------------------|  |
              | | mainbox  {BOX:vertical}                                                       |  |
              | | |---------------------------------------------------------------------------| |  |
              | | | inputbar {BOX:horizontal}                                                 | |  |
              | | | |---------| |-| |---------------------------------|---| |---| |---| |---| | |  |
              | | | | prompt  | |:| | entry                           |#fr| | / | |#ns| |ci | | |  |
              | | | |---------| |_| |---------------------------------|---| |---| |---| |---| | |  |
              | | |---------------------------------------------------------------------------| |  |
              | |                                                                               |  |
              | | |---------------------------------------------------------------------------| |  |
              | | | message                                                                   | |  |
              | | | |-----------------------------------------------------------------------| | |  |
              | | | | textbox                                                               | | |  |
              | | | |-----------------------------------------------------------------------| | |  |
              | | |---------------------------------------------------------------------------| |  |
              | |                                                                               |  |
              | | |-----------------------------------------------------------------------------|  |
              | | | listview                                                                    |  |
              | | | |------------------------------------------------------------------------]  |  |
              | | | | element                                                                |  |  |
              | | | | |-----------------| |------------------------------------------------] |  |  |
              | | | | |element-icon     | |element-text                                    | |  |  |
              | | | | |-----------------| |------------------------------------------------| |  |  |
              | | | |------------------------------------------------------------------------]  |  |
              | | |-----------------------------------------------------------------------------|  |
              | |                                                                               |  |
              | | |---------------------------------------------------------------------------| |  |
              | | |  mode-switcher {BOX:horizontal}                                           | |  |
              | | | |---------------|   |---------------|  |--------------| |---------------| | |  |
              | | | | Button        |   | Button        |  | Button       | | Button        | | |  |
              | | | |---------------|   |---------------|  |--------------| |---------------| | |  |
              | | |---------------------------------------------------------------------------| |  |
              | |_______________________________________________________________________________|  |
              |____________________________________________________________________________________|
  
                • ci is the case-indicator

                • fr is the num-filtered-rows

                • ns is the num-rows
                

   Error message structure
              |-----------------------------------------------------------------------------------|
              | window {BOX:vertical}                                                             |
              | |------------------------------------------------------------------------------|  |
              | | error-message {BOX:vertical}                                                 |  |
              | | |-------------------------------------------------------------------------|  |  |
              | | | textbox                                                                 |  |  |
              | | |-------------------------------------------------------------------------|  |  |
              | |------------------------------------------------------------------------------|  |
              |-----------------------------------------------------------------------------------|

*/

* {
  black: hsl(246, 28%, 7%);
  gray-9: hsl(260, 16%, 7%);
  gray-3: hsl(260, 19%, 25%);
  gray-1: hsl(252, 3%, 33%);
  white: #cccbcd;

  red: #e94f37;
  orange: #e27e8b;
  pink: #e693d6;
  yellow: #e2b37e;
  blue: #7dcde1;

  color1: #2ab87623;
  color2: #e27e8b2f;
  highlight: #3d375e7f;
  
  bg:@black;
  bg-alt: @gray-3;
  fg-alt: @gray-1;
  fg: @white;

  background-color: @bg;
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 50%;
  border: 2;
  border-radius: 8;
//   border-color: @gray-3;
}

mainbox {
  background-color: @bg;
  children: [inputbar, listview];
}

element {
  padding: 16 0;
  text-color: @fg-alt;
}

element selected {
  text-color: @fg;
  background-color: @highlight;
}

element-box {
    orientation: vertical;
}
element-text {
  text-color: inherit;
  background-color: transparent;
  vertical-align: 0.5;
  highlight: bold #cccbcd;
}

element-icon {
  background-color: transparent;
  size: 25;
  padding: 0 15;
}

entry {
  background-color: @bg-alt;
  padding: 16 8;
  text-color: @fg;
}

inputbar {
  children: [prompt, entry];
}

listview {
  padding: 0;
  background-color: @bg;
  columns: 1;
  lines: 8;
}

prompt {
  background-color: @bg-alt;
  enabled: true;
  padding: 16 0 16 16;
  text-color: @fg;
}