layout {
swap_tiled_layout name="vertical" {
    tab max_panes=5 {
        pane split_direction="vertical" {
            pane
            pane { children; }
        }
    }
    tab max_panes=8 {
        pane split_direction="vertical" {
            pane { children; }
            pane { pane; pane; pane; pane; }
        }
    }
    tab max_panes=12 {
        pane split_direction="vertical" {
            pane { children; }
            pane { pane; pane; pane; pane; }
            pane { pane; pane; pane; pane; }
        }
    }
}

swap_tiled_layout name="horizontal" {
    tab max_panes=4 {
        pane
        pane
    }
    tab max_panes=8 {
        pane {
            pane split_direction="vertical" { children; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
        }
    }
    tab max_panes=12 {
        pane {
            pane split_direction="vertical" { children; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
        }
    }
}

swap_tiled_layout name="stacked" {
    tab min_panes=5 {
        pane split_direction="vertical" {
            pane
            pane stacked=true { children; }
        }
    }
}

swap_floating_layout name="staggered" {
    floating_panes
}

swap_floating_layout name="enlarged" {
    floating_panes max_panes=10 {
        pane { x "5%"; y 1; width "90%"; height "90%"; }
        pane { x "5%"; y 2; width "90%"; height "90%"; }
        pane { x "5%"; y 3; width "90%"; height "90%"; }
        pane { x "5%"; y 4; width "90%"; height "90%"; }
        pane { x "5%"; y 5; width "90%"; height "90%"; }
        pane { x "5%"; y 6; width "90%"; height "90%"; }
        pane { x "5%"; y 7; width "90%"; height "90%"; }
        pane { x "5%"; y 8; width "90%"; height "90%"; }
        pane { x "5%"; y 9; width "90%"; height "90%"; }
        pane { x 10; y 10; width "90%"; height "90%"; }
    }
}

swap_floating_layout name="spread" {
    floating_panes max_panes=1 {
        pane {y "50%"; x "50%"; }
    }
    floating_panes max_panes=2 {
        pane { x "1%"; y "25%"; width "45%"; }
        pane { x "50%"; y "25%"; width "45%"; }
    }
    floating_panes max_panes=3 {
        pane { y "55%"; width "45%"; height "45%"; }
        pane { x "1%"; y "1%"; width "45%"; }
        pane { x "50%"; y "1%"; width "45%"; }
    }
    floating_panes max_panes=4 {
        pane { x "1%"; y "55%"; width "45%"; height "45%"; }
        pane { x "50%"; y "55%"; width "45%"; height "45%"; }
        pane { x "1%"; y "1%"; width "45%"; height "45%"; }
        pane { x "50%"; y "1%"; width "45%"; height "45%"; }
    }
}
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}{tabs}"
                format_center "#[fg=#6C7086,bg=#11111b] {datetime}  {command_battery}"
                format_right  "{command_git_branch}#[fg=#89B4FA,bg=#11111b,bold]{session} "
                format_space   "#[bg=#11111b]"

                border_enabled  "false"
                border_char     "."
                border_format   "#[fg=#a6e3a1]{char}"
                border_position "top"

                mode_normal        ""
                mode_resize        "#[bg=blue] "
                mode_move          "#[bg=blue] "
                mode_tmux          "#[bg=red] "
                mode_scroll        "#[fg=green] "
                mode_search        "#[fg=green] "
                mode_enter_search  "#[fg=green] "
                mode_pane          "#[fg=yellow] P"
                mode_tab           "#[fg=cyan] T"

                tab_normal   "#[fg=#11111b]█#[fg=#cdd6f4,bg=#11111b]{index}#[fg=#11111b]█"
                tab_normal_sync   "#[fg=#11111b]█#[fg=#cdd6f4,bg=#11111b]{index} [S]#[fg=#11111b]█"
                tab_normal_fullscreen   "#[fg=#11111b]█#[fg=#cdd6f4,bg=#11111b]{index} [F]#[fg=#11111b]█"
                tab_active   "#[fg=#F5C2E7]█#[fg=#11111b,bg=#F5C2E7]{index}#[fg=#F5C2E7]█"
                tab_active_sync   "#[fg=#F5C2E7]█#[fg=#11111b,bg=#F5C2E7]{index} [S]#[fg=#F5C2E7]█"
                tab_active_fullscreen   "#[fg=#F5C2E7]█#[fg=#11111b,bg=#F5C2E7]{index} [F]#[fg=#F5C2E7]█"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#6C7086,bg=#11111b] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                command_battery_command  "cat /sys/class/power_supply/BAT0/capacity"
                command_battery_format   "󰁹{stdout}%"
                command_battery_interval "8"

                datetime        "{format}"
                datetime_format "%d %b, %R"
                datetime_timezone "Europe/Berlin"
            }
        }
    }
}
