#!/usr/bin/zsh
#
# zsh aliases
#

# alias ls = "eza"
alias n="pnpm"
alias nd="pnpm dev"
alias hx="helix"
alias ll="eza --hyperlink -la"
alias SS="sudo !!"

alias pac="sudo pacman"
alias sup="sudo pacman -Syu"
alias Prm="sudo pacman"

alias push="git push"
alias ga="git add"
alias gs="git status -uno"

alias zj="zellij"

function zja { zj attach $(zj list-sessions | fzf --ansi | awk '{print $1}')}
function zr  { zj run --name "$*" -- zsh -ic "$*";}
function zrf { zj run --name "$*" --floating -- zsh -ic "$*";}
function ze  { zj edit "$*";}
function zef { zj edit --floating "$*";}

alias fzfp="fzf --preview 'bat --style=numbers --color=always {}'"
