$aqua: #fff;
$black: hsl(180, 9%, 6%);
$white: hsl(0, 0, 89%);
$indicator: hsl(40, 85%, 49%);
$background: transparent;
$foreground: $white;
$hover: #333;

// label {
// 	font-weight: 600;
// }

* {
	border-radius: 0;
}

.bar {
	background: rgba(10, 9, 17, 0);
	background: red;
	background: $background;
}

button {
	background: $background;
	color: $foreground;
	border: 0;
}

.quick-settings {
	margin: 2em;
	padding: 2em;
	background: red;
}

.tray-icon {
	margin: 0 .5em;
}

.workspaces button {
	padding: .5em;
	// font-size: svw;
	background-color: $background;
	font-weight: 400;
	color: $hover;
}

.workspaces button.occupied {
	color: $foreground;
}

.workspaces button :hover,
.media :hover {
	background-color: rgba(255, 255, 255, 0.1);
	background: #eee;
	color: #efefef;
	color: #222;
	box-shadow: none;
}

.workspaces button :active,
.media :active {
	background-color: rgb(255, 255, 255);
	background: white;

	color: #fff;
}

.workspaces button.focused {
	color: #e7a013;
	background: #eee;
	/* color: #efefef; */
	color: #111;
	font-weight: 800;
}

.client-title {
	margin-left: 1em;
	color: #fff;
}

.notification image {
	color: yellow;
	margin-left: 1em;
}

.battery progressbar {
	margin: 0 6px;
}

.clock {
	font-weight: 600;
	margin: .25em 1em;
	font-size: .95em;
	/* justify: "right"; */
}

.date {
	font-weight: 400;
	font-size: .85em;
	color: #eee;
}

progress,
highlight {
	background-color: #e7a013;
	min-height: 0.5em;
}

.applauncher {
	background: transparent;
	/* padding: 1em;	 */
	/* border: .5px solid green; */
	/* border-radius: 2em; */
}

#applauncher, #poplauncher {
	border: 0;
	margin: 0;
	padding: 1em;
	background: rgba(10, 9, 17, 0.4);
	background: #111;

	/* border: .5px solid white; */
	/* border-radius: 2em; */

}

.applauncher entry.applauncher__entry,
.applauncher entry.applauncher__entry:active,
.applauncher entry.applauncher__entry:focus {
	padding: .75em .5em;
	font-size: 1.3em;
	border-radius: 0;
	/* margin: 1em; */
	margin-bottom: 5em;
	background: transparent;
	outline-width: 0;
		border: .0em solid #111;

	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
	/* border-top-right-radius: 2em; */
	/* border-radius: 2em; */
box-shadow: 0 0 transparent;
}

entry.applauncher__entry {
	// color: red;
	font-weight: 900;
}


.applauncher__list,
.applauncher__item {
	margin: .5em .5em;
	/* border-radius: 2em; */
	background: transparent;
	font-weight: 600;
}

#applauncher button {
	background: transparent;
}

$padding-block: .5em;

#poplauncher button {
	background: transparent;
	border: 0;
	border: 0;
	padding: 0;
	// outline: 0;
	box-shadow: 0 0 transparent;
	padding-top: $padding-block;
	padding-bottom: $padding-block;
	box-shadow: 1px 1px red;
}

.applauncher__item .description {
	font-weight: 400;
	color: #eee;
}

.applauncher__item box {
	padding-left: .75em;
	padding-right: .75em;
	padding-top: .25em;
	padding-bottom: .25em;
}
.applauncher__item .icon {
	margin: .5em;
	margin-right: 1em;
}
.category_icon {
	opacity: .7;
}

.applauncher__item.selected {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
}

.applauncher .header {
	margin: 1em;
	margin-bottom: 0.25em;
}

.applauncher .header image,
.applauncher .header entry {
	padding: 1em;
}

.applauncher .header entry {
	padding-left: 2em;
}

.applauncher .header image {
	margin-right: 2em;
	-gtk-icon-transform: scale(0.8);
	font-size: 1.6em;
}