@use 'sass:color';
@use './spring.scss';
@use "./theme";

$aqua: #fff;
/* $black: hsl(180, 9%, 6%);
$white: hsl(0, 0%, 89%);
$indicator: hsl(220, 64.1%, 77.06%); */
$black: theme.$base;
$white: theme.$subtext-1;
$accent: theme.$yellow;
$indicator: theme.$teal;
$text: theme.$text;
$background: theme.$crust;
$foreground: theme.$text;
$hover: theme.$subtext-0;


// label {
// 	font-weight: 600;
// }

* {
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0px transparent;
	font-size: 13px;
	font-weight: 600;
}

.bg-mantle {
	background: theme.$mantle;
}
.bg-accent {
	background: $accent;
}
.txt-accent {
	color: $accent;
}

.txt-mantle {
	color: theme.$mantle;
}

.bg-crust {
	background: theme.$crust;
}

.txt-crust {
	color: theme.$crust;
}

.bg-base {
	background: theme.$base;
}

.txt-base {
	color: theme.$base;
}

.bg-surface {
	background: theme.$surface;
}

.txt-surface {
	color: theme.$surface;
}

.bg-overlay {
	background: theme.$overlay;
}

.txt-overlay {
	color: theme.$overlay;
}
.p-4 {
	padding: .5rem;
}
.px-4 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.hide {
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

.bar {
	background: $background;
}

button {
	background: $background;
	color: $foreground;
	border: 0;
}

menu {
	background: $background;
	padding: .25em;
	min-width: 200px;
	border-radius: .5em;
	border: 1px solid theme.$overlay;
}

.quick-settings {
	margin: 0 2em;
	padding: 0 2em;
	background: red;
}

.tray-icon {
	margin: 0 0.5em;
	color: $foreground;
	-icon-theme: 'papirus';
	margin: 0 .75em;
}

.workspaces {
	color: $accent;
	/* padding: 0 0.5em; */
	font-weight: 800;
}

.workspaces button {
	// font-size: svw;
	background-color: $background;
	font-weight: 400;
	color: $hover;


	&.occupied {
		color: $foreground;
	}
}

.workspaces button :hover,
.media :hover {
	background-color: rgba(255, 255, 255, 0.1);
	background: #eee;
	color: #efefef;
	color: #222;
	box-shadow: none;
}

.workspaces button :active,
.media :active {
	background-color: rgb(255, 255, 255);
	background: white;

	color: #fff;
}

.workspaces button.focused {
	color: #e7a013;
	background: #eee;
	/* color: #efefef; */
	color: #111;
	font-weight: 800;
}

.client-title {
	margin-left: 1em;
	color: #fff;
}

.notification image {
	color: yellow;
	margin-left: 1em;
}

.battery progressbar {
	margin: 0 6px;
}

.bold {
	font-weight: 800;
}

.semibold {
	font-weight: 600;
}

progress,
highlight {
	// background-color: #e7a013;
	// min-height: 0.5em;
}

#applauncher,
#poplauncher {
	border: 0;
	margin: 0;
	padding: 1em;
	background: rgba(10, 9, 17, 0.4);
	background: #111;

	/* border: .5px solid white; */
	/* border-radius: 2em; */
}

.applauncher {
	background: transparent;
	/* padding: 1em;	 */
	/* border: .5px solid green; */
	/* border-radius: 2em; */

	.header {
		margin: 1em;
		margin-bottom: 0.25em;

		& image,
		& entry {
			padding: 1em;
		}

		& entry {
			padding-left: 2em;
		}

		& image {
			margin-right: 2em;
			-gtk-icon-transform: scale(0.8);
			font-size: 1.6em;
		}
	}

	entry,
	entry entry:active,
	entry:focus {
		padding: 1.25em 1.5em;
		font-size: 1.2em;
		border-radius: 0;
		/* margin: 1em; */
		font-weight: 500;

		margin-bottom: 5em;
		background: transparent;
		outline-width: 0;
		border: 0em solid #111;

		border-bottom: 1px solid rgba(200, 200, 200, 0.5);
		/* border-top-right-radius: 2em; */
		/* border-radius: 2em; */
		box-shadow: 0 0 transparent;
	}

	button {
		$padding-block: 0.5em;

		background: transparent;
		border: 0;
		border: 0;
		padding: 0;
		// outline: 0;
		box-shadow: 0 0 transparent;
		padding-top: $padding-block;
		padding-bottom: $padding-block;
		box-shadow: 1px 1px red;
	}
}

.applauncher__list {
	margin: 0.75em 0.75em;
}

.applauncher__item {
	font-weight: 800;

	&.selected {
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
	}

	box {
		padding: 0.25em 0.75em;
	}

	.title {
		font-weight: 600;
	}

	.description {
		font-weight: 400;
		color: theme.$subtle;
	}

	.icon {
		margin: 0.5em;
		font-size: 1.1rem;

		&.category_icon {
			opacity: 0.8;
			font-size: 1rem;
			/* margin-right: 1em; */
		}
	}
}

#osiNotify {
	background-color: $background;
	// border-radius: 0.75rem;
}

.sys-toast {
	// margin: 1em;
	/* padding: .2em; */
	// min-height: 1em;
	background-color: $background;
}

levelbar {
	/* margin-top: 1px; */
	background-color: $background;
	/* min-height: 1px; */
	/* background-color: transparent; */
	border-radius: 0.25rem;
	// background: ;
	// border-radius: 16px;


	& trough block {
		border-radius: 0.25rem;
		background-color: $indicator;
		border: 0;
		margin: 0;
		transition: background-color 400ms ease-in-out;

		&.empty {
			background-color: #111;
		}

		&.low {
			background-color: color.scale($indicator, $lightness: 15%);
		}

		&.full {
			background-color: color.scale($indicator, $lightness: 5%);
		}
	}
}

/* tutorial style */
window.Bar {
	background: $background;
	color: $foreground;
	font-weight: bold;
}

window.Bar>centerbox {
	background: $background;
	border-radius: 10px;
	margin: 8px;
}

window.Bar button {
	border-radius: 8px;
	margin: 2px;
}

/* tutorial style */

.niri-demo {
	background: $black;
	min-width: 30px;
	font-family: monospace;
}
